<h1>Welcome to the EphieHero!</h1>


<br>

<a href="/heroes/new">Add a new hero</a>
<a href="/heroes">View your heroes</a>

<br>

<h1>Choose your squad!</h1>

<a href="/squads">View the Squads</a>
<a href="/squads/new">Add a New Squad</a>
